.big-img {
	width: 100%;
	height: rem(300px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/big-img.jpg);
    
    @media screen and (max-width: $phones) {
		background-image: url(../img/big-img-2.jpg);
	}
}