
@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('../fonts/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondensedLight';
    src: url('../fonts/OpenSans-CondensedLight.woff2') format('woff2'),
        url('../fonts/OpenSans-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('../fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-CondensedBold';
    src: url('../fonts/OpenSans-CondensedBold.woff2') format('woff2'),
        url('../fonts/OpenSans-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../fonts/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans-CondensedLightItalic';
    src: url('../fonts/OpenSans-CondensedLightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-CondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'IntroHeadR-Base';
    src: url('../fonts/IntroHeadR-Base.woff2') format('woff2'),
        url('../fonts/IntroHeadR-Base.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans NR Ext Th';
    src: url('../fonts/CoreSansNR-13ExtThinItalic.woff2') format('woff2'),
        url('../fonts/CoreSansNR-13ExtThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Core Sans NR Hv';
    src: url('../fonts/CoreSansNR-85Heavy.woff2') format('woff2'),
        url('../fonts/CoreSansNR-85Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans NR Lt';
    src: url('../fonts/CoreSansNR-35Light.woff2') format('woff2'),
        url('../fonts/CoreSansNR-35Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans NR Blk';
    src: url('../fonts/CoreSansNR-95Black.woff2') format('woff2'),
        url('../fonts/CoreSansNR-95Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Core Sans NR Bld';
    src: url('../fonts/CoreSansNR-65Bold.woff2') format('woff2'),
        url('../fonts/CoreSansNR-65Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

