$orange: #de4c1b;
$black: #1f1c1a;
$gray: #bebebe;
$pink: #e82564;

$green: #5caf2b;
$purple: #bc2948;

$tablets: 768px;
$phones: 500px;

$phones_320: 400px;

$rem150px: rem(150px);
$rem230px: rem(230px);